@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<giuakiDotNet.Models.User>

@{
    ViewData["Title"] = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="table">
    <thead>
        <tr class="table-warning">


            <th>
                #
            </th>
            <th>
                UserId
            </th>
            <th>
               Username
            </th>
            <th>
               RoleId
            </th>

            <th>
                Email
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-success">
                <td>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>