@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model giuakiDotNet.Models.MenuItem

@{
    ViewData["Title"] = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaSanPham</h1>


<h4>TDanhMucSp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemSanPhamMoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="MenuItemId" class="form-control" />
                <span asp-validation-for="MenuItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory" class="control-label"></label>
                <input asp-for="SubCategory" class="form-control" />
                <select asp-for="SubCategory" class="form-control" asp-items="ViewBag.Category"></select>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

